<h1> Events Page </h1>
<div class="display-card" id="pendingEvents">
  <h2> Pending Events </h2>
  <ul>
    <% @pendingEvents.each do |event| %>
      <li><%= link_to event.title, individualEvent_path(event) %></li>
    <% end %>
  </ul>
</div>

<div class="display-card" id="finalEvents">
  <h2> Finalized Events </h2>
  <ul>
    <% @finalEvents.each do |event| %>
      <li><%= link_to event.title, individualEvent_path(event) %></li>
    <% end %>
  </ul>
</div>
<%= button_to "Create Event", '/createevent', method: 'get' %>
