<h1> Events Page </h1>
<div class="display-card" id="pendingEvents">
  <h2> Pending Events </h2>
</div>

<div class="display-card" id="finalEvents">
  <h2> Finalized Events </h2>
</div>
<%= button_to "Create Event", '/createevent', method: 'get' %>
