
<div class='sidebyside'>

  <div class='left30 vert'>
    <ul>
      <li id='homeGroupAll' class='homeGroups'>All Groups</li>
      <% for i in 0..(@groups.length-1) %>
        <li id = "homeGroup<%=@groups[i].id.to_s%>" class = "homeGroups"><%= @groups[i].name %></li>
      <% end %>
    </ul>
  </div>

  <div class='calendar-container right70'>
    <div class='calendar' id='homepageCalendar'></div>
  </div>
</div>
