<h1><a href='localhost:4001/' target='_blank'> Corral<a></h1>

<p>You have received an invitaion from <%= @sender.name %> to join the group <%= @group_name %> on Corral!
Click the link below in order to join the group.</p>

<p> <%= @link %> </p>
