@import "constants";
*{
  font-family: "Playfair Display", serif;
}

.global_nav {

  ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  li {
    color: $color-main;
    display: block;
    float: left;
    text-align: center;
    padding: .6em .8em;
    font-size: 120%;
  }

  .topPadding {
    padding-top: 1.3em;
  }
  .modbutton {
    position: relative;
    float:right;
  }
  .linkseffect {
    color: $color-main;
    width: 100%;
    text-decoration: none;
  }
  .linkseffect:focus {
    color: $color-sub;
    text-decoration: none;
  }
  .linkseffect:hover {
    color: $color-sub;
    width: 100%;
    text-decoration: none;
  }
}
header {
  background-color: $color-background;
}
.login-field {
  width:100%;
}
.login-button {
  margin-right: -1.3em;
}
.btn-primary, .btn {
  background-color: $color-main;
  border-color: #fff;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary,  {
    color: #fff !important;
    background-color: $color-sub !important;
    border-color:	$color-highlight !important; /*set the color you want here*/
}
.btnPadding{
  padding-top:1.3em;
}
.btn.login-button, .btn.signup-button {
  padding: 12px 22px;
}
.btn.signup-button {
  box-shadow: 0 3px 0 0 $color-main;
}
.btn.login-button{
  background: none;
}
.btn-primary.login-button {
	border: 2px solid $color-sub;
	color: $color-text;
}
