// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//Use FCC89B or apricot for color scheme
@import "constants";

h1 {
  color: $color-main;
  font-family: 'Playfair Display', serif;
}

h2 {
  color: $color-highlight;
  font-family: 'Playfair Display', serif;
}

.sidebyside {
  display: table;
  margin: 3%;
  width: 80%;

  .createEventForm {
    display: table-cell;
    width: 35%;
  }
  #createEventCalendar {
    display: table-cell;
    width: 65%;
  }
  .card-list {
    display: table-cell;
    width: 70%;
  }
  .group-list {
    display: table-cell;
    width: 30%;
    vertical-align: middle;
  }
}

.calendar-container {
  height: 80%;
  width: 60%;
  margin: 0 auto;
}
.card {
  width: 250px;
  height: 250px;
  display:none;
  position: absolute;
}
